* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ephesis', cursive;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(0, 0, 0);
    background-image: url(/assets/images/Rect\ Light.svg);
    background-size: 100% 100%;
    color: black;
    font-size: 2.4rem;
}

/* Need a custom splash screen */
/* Uncomment to show loading screen */
/* #loading-screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
} */

header {
    /* BG and border for WIP */
    background-color: brown;
    border: 2px solid;

    height: 5%;
}

footer {
    /* BG and border for WIP */
    background-color: brown;
    border: 2px solid black;

    position: relative;
    margin-top: auto;
    width: 100%;
    height: 20px;
    color: white;
    text-align: center;
}

h1 {
    text-align: left;
    padding: 1rem;
}

h2,
h3,
h4,
h5 {
    text-align: center;
}

h4{
    font-size: 10rem;
}

h3 {
    font-size: 5.4rem;
}

h5 {
    font-size: 1.4rem;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {}

#logo {
    display: flex;
    margin-left: 5%;
}

#logo img {
    background-color: blueviolet;
    content: url("../images/crossedswords.png");
    width: 50px;
    border-radius: 50%;

}

.menu {
    /* BG and border for WIP */
    background-color: cornflowerblue;

    position: relative;
    width: 25%;
    margin: 23% 1%;
}

.menu ul li {
    border: 2px solid black;
}

.left {
    visibility: hidden;
    float: left;
}

.right {
    float: right;
}

#character-select {
    background-color: crimson;
    border: 2px solid black;

    min-width: 100%;
    min-height: 30vh;
    margin: 0 5%;



}

#character-select img {

    width: 20%;
    padding: 2%;

    display: inline-block;

    transform: scale(1);
    transition: .3s;
}

#character-select img:hover {
    transform: scale(1.2);
}

#character-select img:active {
    transform: scale(.7);
}

.container {
    /* BG and border for WIP */
    background-color: blueviolet;
    /* border: 2px solid; */

    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    max-width: 70%;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.button {
    cursor: pointer;
    pointer-events: auto;
    width: fit-content;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%; */
    margin: 5% auto;
}

.arena-block {
    background-image: url("../images/battleback7.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    padding-top: 22.5%;

    /* padding-top: 39.4%; */
    /* padding-top: 25.2%; */
    /* padding-top: 21.5%; */
}

.arena {
    display: none;
}

.timer-block {
    /* BG and border for WIP */
    background-color: darkgreen;
    border: 2px solid black;

    top: -10px;
    width: 60px;
    border-radius: 50%;
}

canvas {
    /* background-color: rgba(240, 248, 255. 0.5); */
    border: 2px solid black;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

#start {
    /* BG and border for WIP */
    background-color: aliceblue;

    position: relative;
    margin-top: 15%;
    top: 0;
}

.highscores {
    /* BG and border for WIP */
    background-color: chartreuse;
    border: 2px solid black;

    display: none;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#scores {
    /* height: 85%; */
    /* overflow: hidden; */
}

#scores ol {
    /* width: 450px; */
    /* change it to whatever you like */
    position: relative;

    /* these should be probably already set up by `reset.css` */
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#scores ol:before,
#scores ol:after {
    text-align: center;
    display: block;
    border: 1px solid black;
    border-bottom: 0;
    width: 50%;
}

#scores ol:before {
    content: 'Player';
    border-right: 0;
}

#scores ol:after {
    content: 'Score';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 1px;
}

#scores ol li {
    text-align: center;
    width: 50%;
    float: left;
    border: 1px solid black;
    margin-bottom: -1px;
}

#scores ol li:nth-child(even) {
    margin-left: -1px;
}

table {
    /* BG and border for WIP */
    border: 2px solid black;

    /* padding: 2% 0%; */
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-collapse: collapse;
}

th,
td {
    /* BG and border for WIP */
    border: 2px solid black;

    /* padding-top: 1%; */
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#enter-score {
    background-color: chocolate;
    position: absolute;
    width: 100%;
    /* height: 4vh; */
    bottom: 0;

}

/* Use in media query for form size  */
/* #player-initials {
    height: 3.0rem;
} */

.question-block {
    margin-left: auto;
    margin-right: auto;
    padding: 1% 1%;
    width: 50%;
}

.question-frame {
    /* BG and border for WIP */
    background-color: cadetblue;
    border: 2px solid black;

    /* Add box shadow to frame */
    min-height: 50vh;
    border-radius: 10px;
    font-size: 4.8rem;
}

#questions,
#answers,
#answers li {
    /* BG and border for WIP */
    background-color: blue;
    border: 2px solid;

    padding: 1%;
    margin: 5px 0;
}

/* Add media query for half and mobile sizes
    Make combat screen take 100% width
    Sidebars should slide down next to question-block */